$theme-colors: (
	'primary': #4ba83a,
	//#0d6efd,
	'secondary': #6c757d,
	'success': #198754,
	'info': #0dcaf0,
	'warning': #ffc107,
	'danger': #dc3545,
	'light': #f8f9fa,
	'dark': #212529,
);

//$enable-rounded: false;

$font-family-sans-serif: 'iansui', 'Noto Sans TC', Roboto, system-ui,
	-apple-system, 'Segoe UI', 'Helvetica Neue', 'Noto Sans', 'Liberation Sans',
	Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
	'Noto Color Emoji' !default;

$carousel-control-color:#212529;
$carousel-control-opacity: 0.5;
$carousel-control-hover-opacity: 1;
$carousel-control-icon-width: 3rem;

$nav-link-color: black;
$nav-link-hover-color: #4ba83a;
$nav-pills-border-radius: 0;
$nav-pills-link-active-color: #4ba83a;
$nav-pills-link-active-bg: none;

$pagination-color: black;
// $pagination-border-color: #4ba83a;
$pagination-active-border-color: #4ba83a;
$pagination-active-bg: #4ba83a;

.el-hover {
	&:hover {
		opacity: 0.7;
	}
}

@import 'bootstrap/scss/bootstrap';

@font-face {
	font-family: iansui;
	src: url('https://raw.githubusercontent.com/ButTaiwan/iansui/main/Iansui-Regular.ttf');
}
