$theme-colors: (
	'primary': #4ba83a,
	//#0d6efd,
	'secondary': #6c757d,
	'success': #198754,
	'info': #0dcaf0,
	'warning': #ffc107,
	'danger': #dc3545,
	'light': #f8f9fa,
	'dark': #212529,
);

$font-family-sans-serif: 'iansui', 'Noto Sans TC', Roboto, system-ui,
	-apple-system, 'Segoe UI', 'Helvetica Neue', 'Noto Sans', 'Liberation Sans',
	Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
	'Noto Color Emoji' !default;

$carousel-control-color: #6c757d;
$carousel-control-opacity: 0.5;
$carousel-control-hover-opacity: 1;
$carousel-control-icon-width: 3rem;
$carousel-indicator-active-bg: #6c757d;

$nav-link-color: black;
$nav-link-hover-color: #4ba83a;
$nav-pills-border-radius: 0;
$nav-pills-link-active-color: #4ba83a;
$nav-pills-link-active-bg: none;

$pagination-color: black;
// $pagination-border-color: #4ba83a;
$pagination-active-border-color: #4ba83a;
$pagination-active-bg: #4ba83a;
$pagination-hover-color: #4ba83a;
$pagination-focus-color: #4ba83a;
$pagination-focus-box-shadow: 0 0 0 0.2rem rgba(72, 166, 56, 0.25);
$pagination-padding-y: 0.5rem;
$pagination-padding-x: 0.9rem;

$input-focus-box-shadow: 0 0 0 0.2rem rgba(103, 181, 89, 0.25);
$input-focus-border-color: rgba(103, 181, 89, 0.5);

@import 'bootstrap/scss/bootstrap';
@import 'slick-carousel/slick/slick';
@import 'slick-carousel/slick/slick-theme';

@font-face {
	font-family: iansui;
	src: url('https://raw.githubusercontent.com/ButTaiwan/iansui/main/Iansui-Regular.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

.el-hover {
	&:hover {
		opacity: 0.7;
	}
}

.slick-prev {
	transform: translate(-100%, -50%);
}

.slick-prev:before,
.slick-next:before {
	color: #6c757d;
	font-size: 40px;
}

.slick-slider {
	margin-right: -1rem;
	margin-left: -1rem;
}
